@import 'src/assets/styles/variables';
@import 'src/assets/styles/custom';

.appointment-container {
  height: calc(100vh - 6rem);

  .card {
    background: linear-gradient(90deg, $bluegray_1 0%, $bluegray_2 45%, $bluegray_3 100%);
  }

  p {
    word-break: break-word;
  }

  h4 {
    letter-spacing: .05rem;
  }

  .pi-plus-circle {
    filter: drop-shadow(.15rem .1rem .25rem $shadow);
  }
}

.w-75vw {
  width: 75vw;
}
