@import 'src/assets/styles/variables';
@import 'src/assets/styles/custom';

.schedule-container {
  .shadow-bottom {
    box-shadow: 0 .5rem .325rem -.325rem $shadow-light;
  }

  .shadow-top {
    box-shadow: 0 -.3rem 1rem $shadow;
  }

  .pi-angle-left, .pi-angle-right {
    padding: .25rem .325rem;
  }

  .box-container {
    .box {
      min-width: 5rem;
      min-height: 3rem;

      .card {
        background: linear-gradient(90deg, $bluegray_1 0%, $bluegray_2 45%, $bluegray_4 100%);
        height: 100%;
        z-index: 0;
        transition: z-index 0.01s step-end, height 0.215s cubic-bezier(.22, .68, 0, 1.15), box-shadow .05s ease;
        box-shadow: .15rem .15rem .25rem $shadow-light;

        &:hover {
          height: 7.5rem;
          z-index: 3;
          transition: z-index 0.01s step-start, height 0.215s cubic-bezier(.22, .68, 0, 1.5), box-shadow .05s ease;
          box-shadow: .1rem .5rem .5rem $shadow-light;

          .title {
            display: none !important;
          }

          .details {
            opacity: 1;
            transition: opacity .25s;
          }
        }

        .details {
          opacity: 0;
          transition: opacity 0s ease-in-out;

          i {
            padding-top: .1rem;
          }
        }
      }
    }

    @media(min-width: 1366px) {
      max-height: calc(100vh - 12.5rem);
    }
  }
}

.appointment-list-container {
  .card {
    background: linear-gradient(90deg, $bluegray_1 0%, $bluegray_2 45%, $bluegray_3 100%);
  }

  h4 {
    letter-spacing: .05rem;
  }

  .pi-plus-circle {
    filter: drop-shadow(.15rem .1rem .25rem $shadow);
  }

  .blink {
    animation: blinking .6s 1s;
  }

  /* Makes vertical scrolling inside the appointment list possible */
  @media(min-width: 768px) {
    height: calc(100vh - 5rem);
  }

  @keyframes blinking {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.55;
    }
    100% {
      opacity: 1;
    }
  }
}
