@import 'src/assets/styles/custom';
@import 'src/assets/styles/variables';

.manager-container {
  /* Makes vertical scrolling inside the patient manager possible */
  @media(min-width: 768px) {
    height: calc(100vh - 5rem);
  }

  textarea {
    height: 9.325rem;
  }

  .pi-file-pdf, .pi-save {
    font-size: 1.75rem;
  }

  .tooth {
    &.top {
      img {
        transform: rotate(180deg);

        &.missing:hover {
          @media (pointer: fine) {
            transform: rotate(180deg) !important;
          }
        }
      }
    }

    img {
      width: 14px;
      transition: transform 250ms ease;
      filter: drop-shadow(.25rem .25rem .25rem $shadow);

      &.missing {
        opacity: .25;

        &:hover {
          @media (pointer: fine) {
            transform: none;
          }
        }
      }

      &:hover {
        @media (pointer: fine) {
          z-index: 15;
          transform: scale(2);
        }
      }
    }

    &.top .missing:hover {
      transform: rotate(180deg);
    }

    span {
      font-size: .6rem;
    }

    @media(min-width: 375px) {
      img {
        width: 20px;
      }
      span {
        font-size: .7rem;
      }
    }

    @media(min-width: 450px) {
      img {
        width: 25px;
      }
      span {
        font-size: .8rem;
      }
    }

    @media(min-width: 550px) {
      img {
        width: 30px;
      }
      span {
        font-size: .9rem;
      }
    }

    @media(min-width: 767px) {
      img {
        width: 25px;
      }
      span {
        font-size: .8rem;
      }
    }

    @media(min-width: 992px) {
      img {
        width: 35px;
      }
      span {
        font-size: 1rem;
      }
    }

    @media(min-width: 1200px) {
      img {
        width: 25px;
      }
      span {
        font-size: .85rem;
      }
    }

    @media(min-width: 1300px) {
      img {
        width: 30px;
      }
      span {
        font-size: .9rem;
      }
    }

    @media(min-width: 1400px) {
      img {
        width: 35px;
      }
      span {
        font-size: 1rem;
      }
    }
  }
}

:host::ng-deep {
  .patient-details-content {
    @media(max-width: 768px) {
      max-width: calc(100vw - 8.5rem);
    }

    @media(min-width: 769px) {
      max-width: calc(50vw - 1.5rem);
    }

    @media(min-width: 1200px) {
      max-width: calc(30vw - 1rem);
    }
  }

  .p-fileupload {


    @media(max-width: 325px) {
      .p-button {
        padding: .75rem 1rem;

        .p-button-icon {
          margin-right: 0;
        }
      }

      .p-button-label {
        display: none;
      }
    }
  }

  .tooth-dialog {
    .p-dialog {
      width: 100vw;
      height: 100vh;
      max-height: 100%;
      box-shadow: none;
      border: none;

      &-content {
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
