<div class="h-full w-16rem shadow-6">
  <div class="p-4 flex">
    <img src="assets/images/dentique-logo.png" alt="Logo" class="w-5rem">
    <div class="flex flex-column justify-content-center mt-5">
      <span class="text-white-alpha-90 text-xl cursor-pointer">Moograine's</span>
      <span class="text-white-alpha-90 text-xl cursor-pointer pl-3">Clinic</span>
    </div>
  </div>
  <div class="px-4 pt-8 text-white-alpha-80">
    <h3 class="typewriter">
      {{ 'menu.welcome' | translate }}, Dr. Keresztes!
    </h3>
    <div class="flex flex-column gap-1">
      <div *ngFor="let option of menuItems" class="hover:text-white-alpha-90 slide-in">
        <div class="flex cursor-pointer align-items-center" (click)="navigateTo(option.path)">
          <i [class]="option.icon" class="pi mr-1 text-sm"></i>
          <span class="consolas">{{ option.label | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
