$text-light-gray: rgb(147, 147, 147);
$text-muddy-gray: rgb(94, 94, 98);
$text-white-gray: rgb(225, 225, 225);
$white-silver: rgb(235, 235, 239);
$bluegray: rgb(43, 58, 79);
$purple: rgb(179, 136, 245);
$black: rgb(0, 0, 0);
$shadow: rgba(0, 0, 0, .5);

/* Appointment card gradient colors */

$bluegray_1: rgba(51,51,66,1);
$bluegray_2: rgb(57, 57, 73);
$bluegray_3: rgb(38, 43, 54);

/* Input colours */

$input-primary: rgb(33, 33, 43);

/* Default button color */

$button-primary: rgb(119, 119, 180);
$button-primary-hover: rgb(150, 150, 229);

/* Toast notifiaction background */

$green-transparent: rgba(109, 129, 9, 0.6);

/* Scroll colours */

$scroll-background: rgba(95, 99, 117, 0.53);
$scroll-thumbnail: rgb(89, 89, 110);
$scroll-thumbnail-hover: rgb(114, 115, 134);

