<!--<div  class="flex justify-content-center align-items-center bg-white-alpha-80">-->
<!--  <h2 class="text-black-alpha-80 m-0 py-8 font-bold text-center">-->
<!--    PDF VIEW-->
<!--  </h2>-->

<!--</div>-->

<div #content class="pdf-container text-black-alpha-80">
  <div class="flex p-2">
    <img src="assets/images/tooth_logo_blue_texture.png">
    <div class="flex flex-column justify-content-center mt-2 font-bold">
      <span class="logo-title text-blue-900 cursor-pointer">Moograine's</span>
      <span class="logo-title text-blue-900 cursor-pointer text-center pr-1">Clinic</span>
    </div>
  </div>
  <div class="grid personal mt-2">
    <div class="col-1"></div>
    <div class="col-4 px- py-0">
      <p class="text-blue-700 font-bold inline">{{ patient.sex }} {{ patient.firstName }} {{ patient.lastName }}</p>
      <p class="text-bluegray-600 block">{{ patient.town }}, {{ patient.address }}</p>
      <p class="text-bluegray-600 static">{{ patient.phone }}</p>
    </div>
    <div class="col-2"></div>
    <div class="col-4 ml-1 py-0">
      <p class="text-blue-700 font-bold">Moograine's Clinic</p>
      <p class="text-bluegray-600">{{ 'Tg. Mures, Str. Republicii, nr. 11' }}</p>
    </div>
    <div class="col-1"></div>
  </div>


  <div class="summary flex justify-content-between bg-indigo-500 text-white-alpha-80">
    <p>Invoice No. 731367</p>
    <p>Amount RON 735.48</p>
    <p>Date 01/06/2024</p>
  </div>

  <table class="px-3">
    <thead>
    <tr class="text-black-alpha-80">
      <th class="bg-bluegray-20 border- border-bluegray-500 text-left">DESCRIPTION</th>
      <th class="bg-blue-20 border- border-bluegray-500 text-center">QUANTITY</th>
      <th class="bg-bluegray-30 border- border-bluegray-500 text-right">AMOUNT</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Tooth Cleaning</td>
      <td class="text-center">1</td>
      <td class="text-right">RON 125.99</td>
    </tr>
    <tr>
      <td>Root Canal Treatment</td>
      <td class="text-center">1</td>
      <td class="text-right">RON 364.49</td>
    </tr>
    <tr>
      <td>Tooth Filling</td>
      <td class="text-center">1</td>
      <td class="text-right">RON 245.00</td>
    </tr>
    </tbody>
    <tr>
      <td colspan="2"></td>
      <td class="total flex justify-content-between bg-indigo-500 text-white-alpha-80"><span>Total</span><span>RON 735.48</span></td>
    </tr>
  </table>

  <div class="flex justify-content-between mt-3 px-3 tooth-summary">
    <div class="flex gap-2">
      <div class="flex flex-column justify-content-center align-items-center relative tooth-chart">
        <img src="assets/images/tooth_chart_top.png"/>
        <p class="top">top</p>
        <div class="dot bg-red-700"></div>
      </div>
      <div class="flex flex-column justify-content-center align-items-center relative tooth-chart">
        <img src="assets/images/tooth_chart_bottom.png"/>
        <p class="bottom">bottom</p>
      </div>

    </div>
    <div>
      <p class="text-blue-700 font-bold">Tooth 2.4</p>
      <p class="text-blue-500">Tooth Cleaning</p>
      <p class="text-red-700">Root Canal Treatment</p>
      <p class="text-gray-400">Tooth Filling</p>
    </div>
  </div>
</div>
