@import 'src/assets/styles/variables';

.pdf-viewer {
  //height: 90vh;
  transform: scale(3);
}

.pdf-container {

  width: 13.25rem;

  img {
    height: 2rem;
  }

  .logo-title {
    font-size: .45rem;
    font-family: 'Roboto', sans-serif;
  }

  .personal {
    font-size: .35rem;
    line-height: 1.15;
    font-family: 'Nunito', sans-serif;

    p {
      margin: 0;
    }
  }

  .summary {
    margin: 0 1.125rem;
    padding: .1rem;

    p {
      margin: 0;
      font-size: .3rem;
    }
  }

  table {
    font-size: .35rem;
    width: 100%;

    th, td {
      padding-bottom: .125rem;
    }

    th {
      font-weight: bold;
      background-color: $white-silver;
    }

    tr {
      &:nth-child(even) {
        background-color: $white-silver;
      }
    }

    .total {
      padding: .125rem .125rem .200rem .125rem;
    }
  }

  .tooth-summary {
    p {
      margin: 0;
      font-size: .35rem;
    }

    .dot {
      position: absolute;
      top: 25.5%;
      left: 18.25%;
      width: .175rem;
      height: .175rem;
      border-radius: 50%;
    }

    .tooth-chart {
      .top {
        padding-left: .1rem;
      }

      .bottom {
        padding-left: .2rem;
      }
    }
  }
}

